{% extends "base.html" %}
{% block scripts %}

<script src="{{url_for('.static', filename='script/jquery.min.js')}}"></script>
<script src="{{url_for('.static', filename='script/popper.min.js')}}"></script>
<script src="{{url_for('.static', filename='script/bootstrap.min.js')}}"></script>


<script src="{{url_for('.static', filename='script/jszip.js')}}"></script>
<script src="{{url_for('.static', filename='script/FileSaver.js')}}"></script>
<script src="{{url_for('.static', filename='script/date.format.js')}}"></script>
<script src="{{url_for('.static', filename='script/jquery.fancybox.min.js')}}"></script>

<script src="{{url_for('.static', filename='script/bootstrap-table.js')}}"></script>
<script src="{{url_for('.static', filename='script/bootstrap-toggle.js')}}"></script>

<script src="{{url_for('.static', filename='script/main.js')}}"></script>


{% endblock %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/bootstrap-table.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/bootstrap-toggle.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/jquery.fancybox.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='open-iconic/font/css/open-iconic-bootstrap.css')}}">


<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block title %}Pitally{% endblock %}

{% block navbar %}
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{{url_for('.static', filename='svg/pitally.svg')}}" width="32" height="32" class="d-inline-block align-top" alt="">
   Pitally
</a>
</nav>

{% endblock %}

{% block content %}

{% endblock %}

