{% extends "layout.html" %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-6 image-container ">
                <svg class="img-fluid" width="100%" viewBox="0 0 640 480">
                    <image id="captured_image" xlink:href="" width="100%" height="100%" position="absolute">
                    </image>
                    <image id="preview_image" xlink:href="" width="100%" height="100%" position="absolute">
                </svg>
            </div>

            <div class="col-md-6">
                <form id="capture_form" method="POST" role="form" class="form-horizontal" >
                    Prefix <input class="non_preview_input" type="text" value="my-image" name="prefix"><br>
                    Width (px) <input id="w_input" class="non_preview_input" type="number" value="3280" name ="w" min="1" max="3280" step="1"><br>
                    Height (px)<input  id="h_input" class="non_preview_input" type="number" value="2464" name ="h" min="1" max="2464" step="1"><br>
                    ISO <input type="number" value="200" name ="iso" min="1" max="1200" step="1"><br>
                    Shutter speed (&#181s) <input type="number" value="10000" name ="shutter_speed" min="1000" max="10000000" step="100"><br>
                    Gain <input type="number" value="1" step="0.01" name ="awb_gains"><br>
                  <br>
                    <button id="capture_button"  class="btn btn-primary" type="submit" style="font-size:14px">
                      <span class="glyphicon glyphicon-camera hide_during_capture"></span> Capture</button>
                  <br>
                <label class="checkbox-inline">
                  <input id="preview_toggle" type="checkbox" data-toggle="toggle"> Preview
                </label>

                </form>

            </div>
        </div>
        <div id="table_div" class="row">
            <button id="download_button" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-download-alt"></span> Download
            </button>

            <button id="delete_button" type="button" class="btn btn-secondary">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
           <table id="table" data-click-to-select="true"></table>

        </div>
    </div>
{% endblock %}